*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body{
    background : url("../images/canvas_background.jpg");
    background-size:cover;
}
.canvas-wrapper{
    text-align: center;
    
}
#canvas{
    height:500px;
    width:500px;
    background-color:white;
    margin:auto;
    position:relative;
    left:5%;
    top:5%;
    overflow:hidden;
}
.side-menu{
    top:0;
    left:0;
    width: 150px;
    position: absolute;
    height: 100vh;
    background-color:royalblue;
    color:rgb(230,230,230);
}
.side-menu .menu-title{
    text-align: center;
}

.side-menu ul{
    list-style: none;
}

.side-menu button.selected{
    border:6px solid white;
}
.side-menu button{
    color:white;
    background-color: blue;  
    font-family: 'Spicy Rice', cursive;  
    font-size:20px;
    margin: 3px;
    height:20px;
    width: 80%;
    margin-left:10px;
    cursor:pointer;
    box-sizing: border-box;
    vertical-align: middle;
}
.side-menu .top-menu button{
    height:40px;
}

.side-menu button.selected{
    border:2px solid white;
}
.side-menu select{
    height:20px;
    width:50%;
    background-color: white;
    margin-left : 20%;
    
}

    
