*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body{
    background : url("../images/canvas_background.jpg");
    background-size:cover;
}
.canvas-wrapper{
    text-align: center;
}
#canvas{
    height:500px;
    width:500px;
    background-color:white;
    margin:auto;
    position:relative;
    right:8%;
    overflow:hidden;
    margin-top:2%;
}
.side-menu{
    top:0;
    left:0;
    width: 150px;
    position: absolute;
    height: 100vh;
    background-color:lightgray;
    color:rgb(100,100,100);
}
.side-menu .menu-title{
    text-align: center;
}
.side-menu #color-menu{
    list-style: none;
    columns: 2;
    width:60%;
    margin-left:10%;
} 
.side-menu #color-menu button{
    height:35px;
    width:35px;
    padding:auto;
}
.side-menu #color-menu button#white{
background: url("../images/eraser.png");
background-size: cover;
}
.side-menu button{
    color:rgb(100,100,100);
    background-color: lightblue;  
    font-family: 'Spicy Rice', cursive;  
    font-size:20px;
    margin: 3px;
    height:15px;
    width: 80%;
    margin-left:10px;
    cursor:pointer;
    box-sizing: border-box;
    vertical-align: middle;
}
.side-menu .top-menu button{
    height:40px;
}
.side-menu button.selected{
    border:2px solid lightgray;
}
.side-menu select{
    height:20px;
    width:50%;
    background-color: white;
    margin-left : 20%;
}